.main{
    .pagination{      
        .previous{
            font-size: 40px;
            justify-content: space-between;
            cursor: pointer;
        }  
    }
    .cajadeproductos{
        font-size: 30px;
        .container{
            .sort{
                font-size: 30px;
            }
        }
    }
}