@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    width: 430px;
    margin: 0 auto;
    background-color: #F7CAC9;
    text-decoration: none;
}
.main {
    .recuperatorio{
        font-family: 'Abel', sans-serif;
        font-size: 30px;
        text-decoration: none;
        color: black;
    }
}
